@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body {
  margin: 0;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.recipe-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.recipe-app h1 {
  font-family: sans-serif;
  color: #fff;
}
.recipe-div {
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recipe-input input {
  outline: none;
  border-radius: 4px;
  border: none;
  margin: 10px;
  padding: 10px;
  font-size: large;
}
.recipe-input button {
  outline: none;
  border-radius: 4px;
  border: none;
  margin: 10px;
  padding: 10px;
  font-size: large;
}
.recipe {
  width: 22%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  background-color: #d3d3d3;
  padding: 10px;
  position: relative;
  border-radius: 4px;
  box-shadow: 2rem 3rem 5rem #aaa;
}
.recipe h2 {
  background-color: rgba(161, 161, 161, 0.7);
  border-radius: 2px;
  padding: 10px;
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-shadow: 0 0.5rem 0.5rem #555;
  color: #fff;
}
.recipe img {
  border-radius: 4px;
  object-fit: cover;
  height: 200px;
}
.recipe a {
  font-size: 14px;
  color: #40b48e;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}
.recipe button {
  font-size: 15px;
  outline: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #40b48e;
  border: none;
  border-radius: 2px;
  padding: 10px;
}
.ingredient-list {
  margin-top: 1rem;
  background-color:#f0f0f0;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: crimson;
  font-weight: 700;
}
.ingredient-list li {
  margin: 0.5rem 0;
}
.ingredient-text {
  font-size: 1.5rem;
}
.ingredient-weight {
  font-size: 1.3rem;
  font-weight:300;
}
.footer{
  height: 4rem;
  width: 13rem;
  background-color: transparent;
  box-shadow: 3px 3px 26px 18px rgb(0 0 0 / 30%);
  transform: rotate(90deg);
  position: fixed;
  top: 47%;
  left: -6%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slinks
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 10, 10, 0);
    height: 4rem;
    width: 13rem;
}
.slinks li
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slinks li a{
  padding: 6px 6px;
  cursor: pointer;
  transform: rotate(-90deg);
  color:rgba(0,0,0,0.8);
  transition: .2s all ease-in-out;
}
.slinks li a:hover
{
    transform: scale(1.5);
}
.slinks li a:nth-child(1):hover
{
    color: blue;
}
.slinks li a:nth-child(2):hover
{
    color: deeppink;
}
.slinks li a:nth-child(3):hover
{
    color:rgb(27,31,35);
}
.slinks li a:nth-child(4):hover
{
    color: blue;
}
.slinks li a:nth-child(5):hover
{
    color: crimson;
}
.slinks li a:nth-child(6):hover
{
    color: red;
}
.top{
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 90%;
  left: 96%;
  border-radius: 50%;
}
.top svg{
  transition: .2s all ease-in-out;
}
.top svg:hover{
  transform: scale(1.3);
  color: red;
}
::-webkit-scrollbar{
  scroll-behavior: smooth;
}
::selection{
  background-color: royalblue;
}
::-webkit-scrollbar{
  width: 5px;
  background: #fff;
}
::-webkit-scrollbar-thumb{
  width: 5px;
  background: darkslategray;
}
